# Telegram настройки
BOT_TOKEN=8970612151:AAHU6nSkOYjnpW0uLaOEdhZfunh0mrsOmkU
CHANNEL_ID=@onetime_foot

# VK настройки
VK_TOKEN=vk1.a.loMELO9me0A1TfCHqzeWTPx9WgPMJzduEHk2GS4YiLUNYhkqe5ZItXLYU4-wQby-JZdHr8TGPV9hraOF6h-cDZKBB4nLPBqzPWR5YdKJKQh_GBF-qTEvBIqLFCZFbO4K6h0EM7Y3ABCMQZO89B9IQM0igZiHvQxAkbbAiopRfkFPP2CX8aLWFffa053JpoSCsPuUB0CDafLpwlVNG0_Ptw
VK_GROUP_ID=238937915

# Интервалы публикации
TG_INTERVAL=900
VK_DAILY_LIMIT=50
